$primary-color-2: #793EED;
$text-color: #fff;
$text-color-secondary: #8A8A8A;
$primary-color: #fff;
$background-color: #1e1e1e;
$secondary-color: #262626;
$transition-duration: 0.3s;
$transition-easing: ease;
