// Variables
$primary-color: #fff;
$background-color: #1e1e1e;
$secondary-color: #262626;
$text-color:#8A8A8A;
$primary-color-2: #793EED;
$transition-duration: 0.3s;
$transition-easing: ease;

body {
  background-color: $background-color;
  position: relative;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 776px;
  padding: 10px 40px 16px 40px;

  &__section {
    margin-top: 90px;

    @media (max-width: 1200px) {
      margin-top: 40px;
    }
  }

  @media (max-width: 1700px) {
    padding: 16px 40px;
  }

  @media (max-width: 1200px) {
    padding: 10px 16px 16px 16px;
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  &__logo {
    width: 242px;
    height: 80px;
    user-select: none;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media (max-width: 1700px) {
      width: 182px;
      height: 60px;
    }

    @media (max-width: 1200px) {
      width: 108px;
      height: 36px;
    }
  }

  &__menu-burger {
    display: flex;
    background-color: #373737;
    flex-direction: column;
    gap: 8px;
    border-radius: 12px;
    padding: 21px 19px;
    z-index: 100;
    cursor: pointer;

    @media (max-width: 1700px) {
      padding: 17px 16px;
      gap: 4px;
    }

    @media (max-width: 1200px) {
      padding: 15px 14px;
    }
  }

  &__menu-burger-line {
    width: 26px;
    height: 2px;
    background-color: $primary-color;
    border-radius: 2px;

    @media (max-width: 1700px) {
      width: 16px;
    }
  }
}

.hero-section {
  position: relative;

  &__content {
    @media (max-width: 1700px) {
      max-width: 510px;
    }
  }

  &__nav {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__nav-list {
    display: flex;
    gap: 32px;
    width: max-content;
  }

  &__nav-link {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0.7;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: $primary-color;

    &:hover {
      opacity: 0.9;
    }

    &_active {
      opacity: 1;
      position: relative;
    }

    @media (max-width: 1700px) {
      font-size: 20px;
      line-height: 25px;
    }
    @media (max-width: 1200px) {
      font-size: 17px;
    }
  }


  &__content-title {
    margin-top: 80px;
    margin-bottom: 35px;

    @media (max-width: 1700px) {
      margin-bottom: 32px;
      margin-top: 40px;
    }

    @media (max-width: 1200px) {
      margin-bottom: 20px;
      margin-top: 32px;
    }
  }

  &__content-description {
    margin-bottom: 80px;

    @media (max-width: 1700px) {
      margin-bottom: 40px;
    }

    @media (max-width: 1200px) {
      margin-bottom: 30px;
    }

    @media (max-width: 374px) {
      margin-bottom: 16px;
    }
  }

  &__desktop-button {
    @media (max-width: 1200px) {
      display: none;
    }
  }
}

.hero-sliders {
  position: absolute;
  top: 0px;
  height: 100%;
  right: 10%;
  overflow: hidden;
  display: flex;
  gap: 16px;
  width: 37%;

  &__carousel {
    width: calc(50% - 8px);
  }

  @media (max-width: 1700px) {
    width: 42%;
    right: 11%;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}


.media-stack {
  width: calc(50% - 8px);
}

.hero-sliders-mobile {
  display: none;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .canvas-carousel {
    height: 100%;
  }
  
  &__slider {
    display: flex;
    gap: 16px;
    height: 100%;
    border-radius: 12px;

    @media (max-width: 374px) {
      display: none;
    }  
  }

  &__button {
    display: none;
    font-family: inherit;

    @media (max-width: 1200px) {
      display: block;
      flex-grow: 1;
      margin: 0 16px;
    }
  }

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
    bottom: 84px;
  }
  
  @media (max-width: 375px) {
    bottom: 84px; 
    padding-bottom: 10px;
  }
}

.policy {
  position: fixed;
  bottom: 16px;
  left: 40px;
  z-index: 10;
  display: flex;
  gap: 40px;
  
  
  @media (max-width: 1200px) {
    position: relative;
    flex-direction: column;
    gap: 12px;
    left: 0;
    bottom: 0;
    top: auto;
    width: 100%;
    padding-top: 16px;
    box-sizing: border-box;
    background-color: $background-color;
  }
  &__copy {
    color: $text-color;
    opacity: 0.7;
    font-size: 13px;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  &__link {
    color: $text-color;
    opacity: 0.7;
    font-size: 13px;
    text-decoration: none;
    transition: opacity 0.3s ease;
    
    &:hover {
      opacity: 1;
    }
  }
}

.image {
  width: 250px;
}

.hero-sliders-mobile__slider_horizontal {
  display: grid;
  grid-auto-flow: column;  
  gap: 16px;
  grid-auto-columns: 33vw;
}


.loading {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.media {
  display: block;
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  min-height: 262px;

  &__container {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .media {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
    bottom: 0;
    flex: 1;
    position: relative;
  }
}

.menu-nav-link {
  cursor: pointer;
}