.sellers-media {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10;
  gap: 50px;
  max-width: 830px;
  padding-right: 50px;
  padding-left: 30px;
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 4fr;
  
  &__mobile-button-container {
    display: none;
    padding: 0 16px;
    padding-bottom: 10px;
    width: 100%;
  }

  &__mobile-button {
    width: 100%;
  }

  &__carousel {

      gap: 10px;
  }

  &__app-preview {
    width: 100%;
  }

  &__app-preview {
    border-radius: 44px;
  }

  &__carousel {
    height: 100%;
    width: 100%;
  }

  &__mobile-carousel {
    display: none;
    flex-grow: 1;
    min-height: 1px;
    align-items: flex-end;
    width: 100%;

    .canvas-carousel {
      height: 90%;
      width: 100%;
    }
  }
}

@media (max-width: 1700px) {
    .sellers-media {
        gap: 30px;

        &__app-preview {
            img {
                width: 292px;
            }
        }

        &__app-preview-video {
            width: 126px;
            top: 210px;
            left: 16px;
            object-fit: cover;
            height: 224px;
        }
    }
}

@media (max-width: 1200px) {
    .sellers-media {
        display: flex;
        flex-direction: column;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        gap: 12px;
        height: 100%;
        padding-right: 0;
        padding-left: 0;
        max-width: 100%;

        &__carousel {
            display: none;
        }

        &__mobile-button-container {
          position: relative;
          z-index: 1;
            display: block;
        }

        &__mobile-carousel {
            display: flex;
        }

        &__carousel-mobile {
            display: block;
            flex-grow: 1;
            min-height: 1px;
            width: 100%;
        }

        &__app-preview {
          position: absolute;
          bottom: 10px;
          right: 30px;
          height: 100%;
          width: auto;

          // display: none;
        }
    }
}